@import url('https://rsms.me/inter/inter-ui.css');
html * { font-family: 'Inter UI', sans-serif; }
@supports (font-variation-settings: normal) {
  html * { font-family: 'Inter UI var alt', sans-serif; }
}

.text-center {
  text-align: center;
}

.drawer-option {
  padding: 16px;
}

/* Hide the Enable Notification Button as the default */
.enable-notifications {
  display: none;
}

.reset-notifications {
  font-size: x-large;
  vertical-align: middle;
  display: none;
}
