#create-post {
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: calc(100vh - 56px);
  overflow-y: scroll;
  bottom: 0;
  top: 56px;
  background: white;
  text-align: center;
  display: block;
  /* animation start settings */
  opacity: 0;
  transform: translateY(100vh);
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.2s ease 0.1s;
  will-change: transform, opacity;
}

#create-post video, #create-post canvas {
  width: 512px;
  max-width: 100%;
  display: none;
  margin: auto;
}

#create-post #pick-image, #create-post #location-loader {
  display: none;
}

#create-post #capture-btn {
  margin: 10px auto;
}

.face-api {
  width: 40px;
  height: 40px;
  min-width: initial;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 4;
}

.mdl-spinner {
  margin: auto;
}

#create-post.visible {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.2s ease;
}

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.input-section {
  display: block;
  margin: 10px auto;
}

.shared-moment-card.mdl-card {
  margin: 10px auto;
  width: 270px;
}

@media (min-width: 600px) {
  .shared-moment-card.mdl-card {
    width: 400px;
  }
}

.shared-moment-card .mdl-card__title {
  height: 200px;
}

.mdl-card__title {
  background-position: center;
}
